<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfileDebug"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}DebugLog.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>

    <target name="logfileInfo"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}InfoLog.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>

    <target name="logfileError"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}ErrorLog.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:maxInnerExceptionLevel=5:format=ToString}${newline}${stacktrace}${newline}"/>

    <target name="logconsole" xsi:type="Console" />

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfileInfo" />
    <logger name="*" minlevel="Debug" writeTo="logfileDebug, logconsole" />
    <logger name="*" minlevel="Error" writeTo="logfileError, logconsole" />
  </rules>
</nlog>